/* Your CSS styling goes here. For example:

h1 {
	color: pink;
	font-size: 50px;
}

*/
@font-face {
  	font-family: hobo;
  	src: url('../fonts/hobostdmedium.ttf');
}
/* Navigation */
html,
body {
	margin: 0;
	padding: 0;
	height: 50%;
}
.container {
	min-height: 100%;
	position: relative;
}
.header {
  	background-color: #f09773;
  	height: 80px;
	padding: 10px;
}
img {
  	margin: 15px 100px;
}
ul {
  	float: right;
  	font-family: hobo;
  	font-size: 18px;
	color: #f7f2d5;
	margin-top: 20px;
}
ul li {
	display: inline-block;
	padding: 15px 50px;
	text-align: center;
}
a {
	color: #f7f2d5;
	text-decoration: none;
}
/* Middle Section */
body {
	background-color: #f7f2d5;
	margin: 0;
}
.body {
	background-color: #f7f2d5;
	font-family: hobo;
	text-align: left;
	color: #8cad75;
	padding: 10px;
	padding-bottom: 60px;
	overflow: hidden;
}
.avocado {
	float: left;
	padding-top: 60px;
}
p {
	margin: 130px 200px;
	font-size: 40px;
	text-align: left;
	float: none;
}
.tm {
	font-size: 45px;
	font-weight: bold;
	color: #8cad75;
}
span {
	color: #f09773;
}
.quote {
	background-color: #8cad75;
	display: inline-block;
	margin: 5px;
	padding: 30px 90px;
	color: #ffffff;
	font-family: arial;
}
.case {
	background-color: #f09773;
	display: inline-block;
	margin: 5px;
	padding: 30px 70px;
	color: #ffffff;
	font-family: arial;
}
.searchbar {
	padding-right: 30px;
	display: inline-block;
	height: 50px;
	width: 300px;
	font-size: 24px;
}
.fa-search {
	font-size: 30px;
}
/* Footer */
.footer {
	background-color: #8cad75;
	text-align: center;
	height: 50px;
	padding: 30px;
	margin-top: 50px;
}
#socialIcon {
	color: #f7f2d5;
	font-size: 35px;
	padding: 10px;
	display: block;
}
.facebook {
	padding-right: 55px;
}
.instagram {
	padding-right: 55px;
}
.twitter {
	padding-right: 55px;
}
